version: "3.8"

services:
  php_fpm:
      build: .
      container_name: wp_php_fpm
      restart: always
      working_dir: /usr/local/apache2/vhosts/wpdocker.com
      networks:
          - wpdocker
      volumes:
          - ./:/usr/local/apache2/vhosts/wpdocker.com
          - ./docker/php/php.ini:/usr/local/etc/php/php.ini

  httpd:
      image: httpd:2.4
      container_name: wp_httpd
      restart: always
      working_dir: /usr/local/apache2/vhosts/wpdocker.com
      networks:
          - wpdocker
      ports:
          - "80:80"
      volumes:
          - ./:/usr/local/apache2/vhosts/wpdocker.com
          - ./docker/apache2/conf/httpd.conf:/usr/local/apache2/conf/httpd.conf
          - ./docker/apache2/conf/extra/httpd-vhosts.conf:/usr/local/apache2/conf/extra/httpd-vhosts.conf

  mysql:
      image: mysql:5.7
      container_name: wp_mysql
      restart: always
      networks:
          - wpdocker
      ports:
          - "3306:3306"
      volumes:
          - ./docker/mysql/backup.sql:/home/backup.sql
      environment:
          - MYSQL_DATABASE=${DB_NAME}
          - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
          - MYSQL_USER=${DB_USER}
          - MYSQL_PASSWORD=${DB_PASSWORD}

networks:
  wpdocker:
    driver: bridge
